.logout-link {
    width: 86%;
    display: inline-block;
}
.account-box, .acc-drpdwn {
    border-radius: 5px;
    background:#fff;
    border: 1px solid #242b24;
    color: #1582ff;
    cursor: pointer;
    float: right;
    height: 36px;
    margin: 10px 0;
    padding: 0;
    position: relative;
    width: 168px;
}
.account-box, .acc-drpdwn .user-img {
    float: left;
    height: 28px;
    margin: 3px 3px 0;
    overflow: hidden;
    width: 28px;
}
.account-box, .acc-drpdwn .user-img .upload-img {
    height: 28px;
    margin: 0 auto;
    width: 28px;
}
.account-box, .acc-drpdwn .txt {
    background: url("../img/arrow-down.png") no-repeat scroll right 8px rgba(0, 0, 0, 0);
    float: left;
    font-family: Arial;
    font-size: 16px;
    margin: 0px 0 0 5px;
    padding: 5px 18px 5px 0px;
    width: 125px;
}
.account-btn1 {
    background:#fff;
    border: 1px solid #242b24;
    cursor: default;
    margin-left: -8px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 36px;
    width: 168px;
    z-index: 10;
}

div.acc-drpdwn a {
    color: #474747;
    font-size: 12px;
    text-decoration: none;

}
div.acc-drpdwn a:hover {
    color: #fa0909;
}
.account-btn1 .user-drop-img {
    float: left;
    height: 133px;
    margin: 0;
    overflow: hidden;
    width: 224px;
}
.account-btn1 .user-info {
    color: #252526;
    float: left;
    font-family: arial;
    font-size: 20px;
    line-height: 22px;
    margin: 8px 0 18px;
    text-align: center;
    width: 100%;
}
.account-btn1 .user-info span {
    color: #4c4c4c;
    font-size: 12px;
    line-height: 17px;
}
.account-btn1 .user-info a {
    color: #fa0909;
    font-size: 12px;
}
.account-btn1 .user-info a:hover {
    color: #474747;
}
.account-btn1 div {
    font-size: 14px;
    margin: 0px;
    text-align: left;
    border-bottom: 1px solid #3a3a3a;
    padding:5px 10px;
}
.account-btn1 div div {
    border-bottom: 1px solid #3a3a3a;
    font-size: 18px;
    margin: 0;
    padding: 5px 18px;
    text-align: left;
}
.account-btn1 div div a {
    color: #fff;
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 5px 0;
    text-align: left;
}
.account-btn1 div div a:hover {
    color: #1282ff;
}
.help-block{clear:both;}


nav a#pull {
	display: none;
	color:#fff;
}
nav ul li {
	line-height:36px;
}
header .fb-button {
	float:right;
}
.theprofile {
	word-break: break-all;
}



@media all and (max-width: 980px) {
body {
min-width: 100% !important;
}
 .logo-div, .pad-lt {
padding-left:0;
position:relative;
}
 .pad-rt {
padding-right:0;
position:relative;
}
 .container {
max-width: 100% !important;
width: 100%;
}
select {
-webkit-appearance: none;
-moz-appearance: none;
}
}
@media all and (max-width: 940px) {
.content {
width:70% !important;
}
.sidebar {
width:230px !important;
float:right;
}
.nav ul li a {
padding:9px 12px;
}
}

@media all and (max-width: 768px) {
.sushi-bana img{width:100%; height:200px;}
.home-search .help-block {
position: relative;
}
 .content {
width:66% !important;
}
nav {
height:auto;
background:none;
margin:10px 0% 0;
z-index:9;
}
 nav ul {
display:none;
height: auto;
background-color: #292929;
border-bottom: 1px solid #FFFFFF;
border-left: 1px solid #FFFFFF;
position:absolute;
z-index:9;
top:30px;
left:15px;
right:15px;
}
 nav li {
width:50%;
float: left;
position: relative;
border:none;
padding:0px;
margin:0px;
font-family: 'segoe_uiregular';
}
 nav li a {
border-top: 1px solid #fff;
border-right: 1px solid #fff;
padding:5px 0px !important;
color:#fff;
display:block;
line-height: 30px !important;
}
 nav li span.st_fblike_large, nav li span.blank-div {
border-top: 1px solid #fff;
border-right: 1px solid #fff;
padding:5px 10px !important;
color:#fff;
display:block;
width:100%;
}
 nav li a:hover, nav li a.active {
border-top: 1px solid #fff;
border-right: 1px solid #fff;
padding:5px 0px;
color:#fff;
box-shadow:none;
border-radius:0px;
}
 nav a {
text-align: left;
width: 100%;
text-indent: 10px;
color:#fff;
}
 nav a#pull {
display: block;
background:#292929;
border-radius: 5px;
box-shadow: 0 2px 6px 3px #000000 inset;
width: 100%;
position: relative;
min-height:30px;
color: #fff;
float: left;
font-size:15px;
padding:5px 10px 0;
text-indent:0px;
}
 nav a#pull:after {
content:"";
background: url('../img/nav-icon.png') no-repeat;
width: 30px;
height: 30px;
display: inline-block;
position: absolute;
right:-5px;
top: 5px;
}
.user-rankings .ranking-item a {
display:block;
margin:15px 20px 15px 0;
}
#book-content-list {
width:100%;
}
#book-content-list .col-sm-1, #book-content-list .col-sm-11 {
float:left !important; width:30px;
}
#book-content-list .content-input-field {
width:88%;
clear:right;
}
}
 @media all and (max-width: 680px) {
 .content {
width:63% !important;
}
}
 @media all and (max-width: 600px) {
.sushi-bana img{width:100%; height:150px;}
.home-search .form-group {
    margin-right: 0;
}
 .content {
width:100% !important;
}
.sidebar {
width:100% !important;
float:none;
text-align: center;
clear:both;
}
.ads {
 display: none !important;
 margin-bottom: 20px;
 width: auto !important;
}
.ads:nth-child(1){display: inline-block !important;}
.ads:nth-child(2){display: inline-block !important;}
.footer-links {
width:100%;
text-align:center;
}
.book-head .col-xs-8, .book-head .col-xs-4, .book .sub-head .message{width:100% !important;}
}

@media all and (max-width: 480px) {
body {
font-size: 11px;
}
header {
height:auto
}
#BookAddForm .form-group {
width:100%;
}
header .logo {
width: 100%;
background-size: 80%;
}
header .fb-button {
margin-top: 15px;
width:100%;
}
header .fb-button img {
width:100%;
}
.home-entry h2 {
font-size:18px;
}
.badge-state, .badge-category {
font-size:11px;
}
.home-entry span {
font-size:12px;
}
.home-entry p {
font-size:11px;
}
footer ul li a, .footer-links .copyright a {
font-size: 12px;
}
nav ul li a, .user-rankings .ranking-item a {
font-size: 13px;
}
.thebook h2, .user-rankings h2, .theprofile h2, .updates-main h2, .about-us h2, .about-us h3 {
margin-top: 10px;
padding-bottom: 5px;
font-size: 18px;
}
.theprofile .profile-picture {width:17%;}
.theprofile .profile-info-left, .theprofile .profile-info-right {
float: left;
margin-top: 5px;
padding-top: 0;
width: 39%;
height: auto;
}
.theprofile .profile-table {
margin-top: 0;
}
.theprofile .profile-picture {
margin: 5px 10px 5px 0;
}

.theprofile .profile-info-left a, .theprofile .profile-info-right a {margin-right:5px;margin-bottom:5px;}

.about-us p, .updates-wrap {
margin-bottom:20px;
}
.ads {
 display: none !important;
 margin-bottom: 20px;
 width: auto !important;
}
.ads:nth-child(1){display: inline-block !important;}
.ads:nth-child(2){display: none !important;}
div#show_serach{background-color: #ececec;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 18px;
    padding: 2px 0 0px 28px;
    width: 100%;}
div#normal_search{display:none;float: left; width: 100%; margin: 16px 0 0 0;}
div.show_search{background: url("../img/collapse.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 18px;
    padding: 2px 0 0 30px;
    width: 100%;
    background-size: 10%;}
div.close_search{background: url("../img/expand.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 18px;
    padding: 2px 0 0 30px;
    width: 100%;
    background-size: 10%;}
div.home-entry{float:left !important;}

/* added by shivam */
div.title {float:left; width:100% !important;}
table.book-table tbody tr td div.left{float:left;width:70% !important;}
table.book-table tbody tr td div.right{float:left;width:30% !important;}
/*end here */
.updates-wrap .updates a {font-size:14px;}

}


 @media all and (max-width: 360px) {
#book-content-list .content-input-field {
width:86%;
clear:right;
}
.user-bx-rt{ margin:0px auto; width:185px; float:right;}
.logo-wdth{width: 90px;}
 header .logo {
    background-size: 100% auto;
    width: 100%; height:40px;
}
.form_time{width:100% !important;}
.form_date{width:100% !important; margin-bottom:10px;}
.sushi-bana img{width:100%; height:100px;}
}
