<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Book - Upcoming</title>
<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css" />
<link rel="stylesheet" href="themes/default.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
</script>
<!-- <script> $(function() { $('[data-role="panel"]').panel({ theme: 'default' }); }); </script> -->
</head>
<script src="themes/default.js"></script>
<body>

<!--page area-->
<div data-role="page" data-title="BBM - Home">
  
  <!--header-->
  <div data-id="common_header" data-role="header" data-position="fixed">
    <a href="#panel" class="ui-btn ui-btn-icon-notext ui-icon-home ui-corner-all ui-btn-left">Home</a>
    <h1>Book - Upcoming</h1>
    <a href="#panel-right" class="ui-btn ui-btn-icon-notext ui-icon-user ui-corner-all ui-btn-right">User</a>
  </div><!--header end-->

  <!--main content-->
  <div role="main" class="ui-content">
  
    <h2>Title Sample.Title Sample.Title Sample</h2>
    <span class="badge-state">Up coming</span>
    <span class="badge-category">Sports</span>
    <p>
      <img src="img/icon2.png" />:9999  <img src="img/icon1.png" />:9999  Book id:9999<br/>
      <span class="small-text">
      Bet Start:2013/08/07 20:00<br/>
      Bet Finsh:2013/08/07 21:00<br/>
      Result :2013/08/07 23:30
      </span>
    </p>

<div data-role="content">
  <ul data-role="listview">
  	<li>
  		<h3>Sample-1</h3>
  		<p style="margin:0px;"><img src="img/icon2.png" />:9999  <img src="img/icon1.png" />:9999
  		<a href="#bet1" data-rel="popup" data-position-to="window" class="bet-btn ui-btn ui-btn-inline ui-corner-all" data-transition="pop">Bet</a></p>
  	</li>
  	<li>
  		<h3>Sample-2</h3>
  		<p style="margin:0px;"><img src="img/icon2.png" />:9999  <img src="img/icon1.png" />:9999
  		<a href="#bet2" data-rel="popup" data-position-to="window" class="bet-btn ui-btn ui-btn-inline ui-corner-all" data-transition="pop">Bet</a></p>
  	</li>
  	<li>
  		<h3>Sample-3</h3>
  		<p style="margin:0px;"><img src="img/icon2.png" />:9999  <img src="img/icon1.png" />:9999
  		<a href="#bet3" data-rel="popup" data-position-to="window" class="bet-btn ui-btn ui-btn-inline ui-corner-all" data-transition="pop">Bet</a></p>
  	</li>
  	<li>
  		<h3>Sample-4</h3>
  		<p style="margin:0px;"><img src="img/icon2.png" />:9999  <img src="img/icon1.png" />:9999
  		<a href="#bet4" data-rel="popup" data-position-to="window" class="bet-btn ui-btn ui-btn-inline ui-corner-all" data-transition="pop">Bet</a></p>
  	</li>
  	<li>
  		<h3>Sample-5</h3>
  		<p style="margin:0px;"><img src="img/icon2.png" />:9999  <img src="img/icon1.png" />:9999
  		<a href="#bet5" data-rel="popup" data-position-to="window" class="bet-btn ui-btn ui-btn-inline ui-corner-all" data-transition="pop">Bet</a></p>
  	</li>
  </ul>
 </div>

 <p>
   <img src="img/profile-photo.jpg" class="createdby" />
   <span class="small-text">Created : 2014/08/01 21:30</span><br />
   <a href="profile-home.html">Hideichi saito</a>
 </p>
  
  <div data-role="content">    
    <ul data-role="listview">
        <li data-role="list-divider">Details</li>
        <li>
            <div class="less">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, ab, dignissimos provident mollitia tenetur quas porro iusto inventore excepturi minus voluptatum id alias omnis rerum natus cupiditate quasi illo accusamus.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, ab, dignissimos provident mollitia tenetur quas porro iusto inventore excepturi minus voluptatum id alias omnis rerum natus cupiditate quasi illo accusamus.

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, ab, dignissimos provident mollitia tenetur quas porro iusto inventore excepturi minus voluptatum id alias omnis rerum natus cupiditate quasi illo accusamus.

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa odio odit laudantium! Enim, quisquam, cupiditate? Nulla, enim, rerum odit cum atque error qui libero iste minus ratione sint quaerat assumenda.
            </div>
            <div class="text-more">Read more...</div>
        </li>
    </ul>     
  </div>

  <div data-role="content">    
    <ul data-role="listview">
        <li data-role="list-divider">Annoucement</li>
        <li><a href="#">Web : http://example.com</a></li>
        <li>
            <div class="less">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, ab, dignissimos provident mollitia tenetur quas porro iusto inventore excepturi minus voluptatum id alias omnis rerum natus cupiditate quasi illo accusamus.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, ab, dignissimos provident mollitia tenetur quas porro iusto inventore excepturi minus voluptatum id alias omnis rerum natus cupiditate quasi illo accusamus.

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, ab, dignissimos provident mollitia tenetur quas porro iusto inventore excepturi minus voluptatum id alias omnis rerum natus cupiditate quasi illo accusamus.

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa odio odit laudantium! Enim, quisquam, cupiditate? Nulla, enim, rerum odit cum atque error qui libero iste minus ratione sint quaerat assumenda.
            </div>
            <div class="text-more">Read more...</div>
        </li>
    </ul>     
  </div>

  </div><!--main content end-->

  <!--footer-->
  <div data-role="footer">
  	<h3>bookbookmaker.com</h3>
    <a href="http://bookbookmaker.com">bookbookmaker.com</a>
    <a href="http://hideichi.com">hideichi.com</a>
  </div><!--footer end-->


<!-- popup bet window bet1 -->
<div data-role="popup" id="bet1" data-theme="a" class="ui-corner-all">
    <form>
        <div style="padding:10px 20px;">
            <h3>Sample-1</h3>
            <label>Odds : 999.999</label>
            <input type="number" name="bet1" id="bet1" value="10">
            <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Bet</button>
        </div>
    </form>
</div>
<!-- popup bet window bet2 -->
<div data-role="popup" id="bet2" data-theme="a" class="ui-corner-all">
    <form>
        <div style="padding:10px 20px;">
            <h3>Sample-2</h3>
            <label>Odds : 999.999</label>
            <input type="number" name="bet2" id="bet2" value="10">
            <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Bet</button>
        </div>
    </form>
</div>
<!-- popup bet window bet3 -->
<div data-role="popup" id="bet3" data-theme="a" class="ui-corner-all">
    <form>
        <div style="padding:10px 20px;">
            <h3>Sample-3</h3>
            <label>Odds : 999.999</label>
            <input type="number" name="bet3" id="bet3" value="10">
            <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Bet</button>
        </div>
    </form>
</div>
<!-- popup bet window bet4 -->
<div data-role="popup" id="bet4" data-theme="a" class="ui-corner-all">
    <form>
        <div style="padding:10px 20px;">
            <h3>Sample-4</h3>
            <label>Odds : 999.999</label>
            <input type="number" name="bet4" id="bet4" value="10">
            <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Bet</button>
        </div>
    </form>
</div>
<!-- popup bet window bet5 -->
<div data-role="popup" id="bet5" data-theme="a" class="ui-corner-all">
    <form>
        <div style="padding:10px 20px;">
            <h3>Sample-5</h3>
            <label>Odds : 999.999</label>
            <input type="number" name="bet5" id="bet5" value="10">
            <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Bet</button>
        </div>
    </form>
</div>



<!--panel-left-->
  <div id="panel" data-role="panel" data-position="left" data-position-fixed="true">
  <h3>Contents</h3>
    <ul data-role="listview" data-inset="true">
    	<li><a href="index.html">Home</a></li>
    	<li><a href="user-rankings.html">User Ranking</a></li>
    	<li><a href="updates.html">Updates</a></li>
    	<li><a herf="about-us.html">About BBM</a></li>
    	<li data-icon="action"><a href="https://www.facebook.com/bookbookmaker">Facebook Page</a></li>
    	<li data-icon="delete"><a href="#" data-rel="close">Close</a></li>
    </ul>
  </div><!--panel-left end-->

  <!--panel-right-->
  <div id="panel-right" data-role="panel" data-position="right" data-position-fixed="true">
    <h3>User infomation</h3>
    <ul data-role="listview" data-inset="true">
    	<li>
    		<a href="profile-home.html"><img src="img/167313_108568132552016_5047279_n.jpg" />Hideichi saito</a>
    	</li>
    	<li><a href="profile-passbook.html"><img src="img/icon1.png" class="ui-li-icon ui-corner-none" />Pass Book<span class="ui-li-count">999999</span></a></li>
    	<li><a href="profile-betlist.html">Bet List<span class="ui-li-count">999999</span></a></li>
    	<li><a herf="profile-makedbook.html">Maked Book<span class="ui-li-count">999999</span></a></li>
    	<li><a herf="book-make.html">Make Book</a></li>
    	<li><a herf="profile-edit.html">User Edit</a></li>
    	<li><a herf="#">Log out</a></li>
    	<li data-icon="delete"><a href="#" data-rel="close">Close</a></li>
    </ul>
  </div><!--panel-right end-->

</div><!--page area end-->

</body>
</html>